@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="text-center">
    <h2 class="display-4">Hook'em With Hayden</h2>
    <br />
    <br />
    <h5 style="margin: 0 auto; max-width: 67%;">Trying something new can be scary. I understand that entirely. Often, the scariest part is not even knowing where to begin.</h5>
    <br />
    <br />
    <br />
    <p style="margin: 0 auto; max-width: 67%;">Allow me to help you through this fear. My name is Hayden Cowart. 
       Growing up in Texas, I have fished since I was young. Recently, however, I moved to Utah. 
       I had to adapt from warm weather fishing of catfish and largemouth bass to a cooler weather, fishing rivers for trout. 
       This adjustment was not easy. I have experienced the fear of being new to something.
       I have grown to love fishing for all sorts of fish. Matching my love to fish is my love to teach others to fish! 
    </p>
    <br />
    <br />
    <br />
    <br />
    <img src="~/img/strawberryres.jpeg" width="500"/>
    <br />
    <br />
    <p style="margin: 0 auto; max-width: 67%;">Many say that the most enjoyable part of fishing is the scenery.
        One of my favorite things about fishing here in Utah is the natural beauty. 
        I had never seen, let alone spent much time around mountains before moving here. I absolutely love driving through a canyon
        and looking to see the river running through.
    </p>
    <br />
    <br />
    <br />
    <br />
    <img src="~/img/catfish.jpeg" width="300" style="margin-right: 15px;"/><img src="~/img/trout.jpeg" width="300" style="margin-left: 15px;"/>
    <br />
    <br />
    <p style="margin: 0 auto; max-width: 67%;">Though I enjoy fishing in postcard-like environments, my favorite time when fishing
        is obviously when a fish is on the line. There is never a time when a fish bites and a fisher doesn't feel excitement! 
        The key is to not let your excitement drown out your focus; you still need to pull the fish in! In my experience,
        catfish are some of the most entertaining fighters, but local Utah trout pack a surprising attitude for their size.
    </p>
    <br />
    <br />
    <br />
</div